{% extends 'base.html.twig' %}

{% block title %}MDChristmas{% endblock %}

{% block body %}
   <div class="header">

    </div>
    <div class="main-card">
<div class="top-logo">
    <img src="img/logo-grand-detoure.png">
</div>
<div class="candy-logo">
<img src="{{ 'img/ab844b1c0ec9bdeb90ab2cfc0b7f2c99-removebg-preview.png'}}" alt="">
  
</div>
<h1>Bienvenue sur MyDigital Christmas !</h1>
<p class="p1"> Envoi un cadeau avec le message de ton choix, à une seule personne de l’école !</p>
<p class="p2">Ready ?</p>
<button>J'entre mon adresse MyDigitalSchool</button>
    </div>
<div class="footer">
    
</div>

{% endblock %}
