@charset "utf-8";


footer{

    height: 150px !important;
    background-color: rgba(121, 27, 121,0.5)!important;

--bs-bg-opacity:0.8 !important;
border-top-right-radius: 5%;
border-top-left-radius: 5%;
transition: ease 0.5s;
font-family: 'Comfortaa', cursive!important;
font-weight: bolder!important;
box-shadow: 0px -15px 10px -15px #111
}