@charset "utf-8";


.connexion{

    font-family: 'Comfortaa', cursive!important;
    font-weight: bolder!important;
}

/*.bouton-connect{

    color: rgb(255, 255, 255)!important;
    background-color: rgba(121, 27, 121,0.5)!important;
    font-size: 15px!important;
    border: solid white 0px!important;
    font-family: 'Comfortaa', cursive!important;
    font-weight: bolder;

}
*/