@charset "utf-8";


.formregister {

    font-family: 'Comfortaa', cursive!important;

}

.formregister1 {

    font-family: 'Comfortaa', cursive!important;
    color: white!important;

}

body{

    background-image: url("../images/flocon_neige.gif.gif")!important;
}