* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    180deg,
    #fedcdc 62.14%,
    rgba(217, 217, 217, 0) 100%
  );
  background-repeat: no-repeat;
}

.container-canvas {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.main-card {
  background: #ffeded;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button {
  font-family: "Lato";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  height: 50px;
  width: 270px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  background-color: #ff5959;
  /* box-shadow: #ff9999 0px 0px 10px; */
  box-shadow: #ff9999 0px 0px 10px;
  text-transform: uppercase;
  transition: 1s;
}
.button:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.15rem #ff9999);
  transition: 1s;
}
section.container.d-flex.align-items-center.py-4 {
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .button {
    width: 70%;
    font-size: 12px;
  }
}
