{% extends 'base.html.twig' %}

{% block title %}Hello AdminController{% endblock %}

{% block body %}

<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
        
    </ul>

</div>
{% endblock %}
