{% extends 'base_login_register.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<body style="background-color:#6f42c1
!important;">

    <h3 class="formregister1 mt-5 text-center">Inscription</h3>
  
<div class="formregister container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crée un compte !</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Prénom">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Nom">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <select class="form-select form-control-user" aria-label="Default select example">
                                            <option selected>Choisissez votre classe</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Adresse e-mail">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    
                                </div>
                                <a href="login.html" class="btn btn-primary btn-user btn-block">
                                    Créer un compte
                                </a>
                                <hr>
                               
                                
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Mot de passe oublié ?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Vous avez déjà un compte ? Connectez-vous !</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>  
</body>
<script src="../../public/js/test.js"></script>

{% endblock %}
