<footer class="container-fluid  border">

<div class="container-fluid p-2 justify-content-end m-auto ">
            <div class="text-white m-auto">Copyright&nbsp;&copy;&nbsp;2021</div>

            <div class="m-auto">
                   <ul class="nav col-md-4  list-unstyled d-flex d-inline">
      <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-youtube fa-2x"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-tiktok fa-2x"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>

      
            </ul>
            </div>

            </div>




</footer>